.Diary {
  background: black;
  background-color: black;
  margin-bottom: 16px;
  text-align: left;
  color: antiquewhite;
  text-decoration: none;
  padding-left: 30px;
  }

  .CustomFont {
    font-family: 'Indie Flower', sans-serif;
    font-size: 20px;
    
  }