.NavBar {
    
    background-color: black;
    border: 1px solid antiquewhite;
    color: antiquewhite;
}

.NavToggle {
    margin-right: 30px;
    background-color: antiquewhite;
    color: black;
}

.NavLink {
    margin-left: 10px;
    margin-right: 20px;
    background-color: black;
    color: antiquewhite;
    text-decoration: none;
    padding-top:20px;
    border-right:1px solid antiquewhite;
}

.Active {
    color:rgb(251, 191, 112);
}

  
@media screen and (max-width: 991px) {
    .NavBar {
      display: none;
      width: 250px;
      height: 250px;
    }
  }