.NavBar {
    background-color: black;
    border: 1px solid antiquewhite;
    color: antiquewhite;
}

.NavLink {
    background-color: black;
    color: antiquewhite;
}

.Active {
    color:rgb(251, 191, 112);
}