.Reachout {
  background: black;
  background-color: black;
  margin-bottom: 16px;
  text-align: center;
  color: antiquewhite;
  text-decoration: none;
  padding-left: 30px;
  padding-right: 30px;
  }
  