.App {
    font-family: "Oxygen", sans-serif;
    background-color: black;
    min-height: 100vh;
    color: antiquewhite;
  }
  
  * {
    box-sizing: border-box;
  }
  
  a {
    color: antiquewhite;
    transition: color ease-in-out 0.3s;
  }
  
  a:hover {
    text-decoration: none;
  }
  
  a:hover i {
    color: rgb(254, 218, 171);
    transition: color ease-in-out 0.3s;
  }
  
  i {
    color:antiquewhite;
    font-size: 1.6rem;
    padding: 7px;
    vertical-align: middle;
  }
  
  i:hover {
    cursor: pointer;
    transition: color ease-in-out 0.3s;
    color: rgb(254, 218, 171);
  }